@page
@model Tweetr.Pages.Login.OpretBrugerModel
@{
    ViewData["Title"] = "Registrer";
}

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label class="form-text">Brugernavn</label>
            <input asp-for="@Model.Customer.Name" class="form-control" />
            <span asp-validation-for="@Model.Customer.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-text">Adgangskode</label>
            <input type="password" asp-for="@Model.Customer.Password" class="form-control" />
            <span asp-validation-for="@Model.Customer.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-text">Navn</label>
            <input asp-for="@Model.Customer.Name" class="form-control" />
            <span asp-validation-for="@Model.Customer.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-text">Email</label>
            <input type="email" asp-for="@Model.Customer.Email" class="form-control" />
            <span asp-validation-for="@Model.Customer.Email" class="text-danger"></span>
        </div>
        


        <div style="padding:1rem;"></div>
        <div class="form-group">

            <input type="submit" class="btn btn-success float-right" value="Opret bruger" style="padding:1rem;" />
        </div>
    </form>

</div>