@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}

<div class="row row-cols-1">
    <div class="col overflow-auto">
        <h5>Tweets</h5>
        @foreach (Models.Tweet tweet in Model.TweetsPublic.Values)
        {
    <div class="card">
        <p class="card-header">At @tweet.customer.Username</p>
        <div class="card-body">
            <h5 class="card-title">@tweet.customer.Name</h5>
            <p class="card-text text-center">@tweet.Text</p>


            @if (Model.customer != null)
            {
                @if (!tweet.Likes.Contains(Model.customer.Id))
                {
                    <form asp-page-handler="Likes" method="post">
                        <input type="hidden" name="id" value="@tweet.Id" />
                        <button class="btn btn-primary">Like</button>
                    </form>
                    
                }
                
            }
        <div style="float:left">
            <p> @tweet.Likes.Count Synes godt om </p>
        </div>
            
            @if (Model.customer != null && tweet.customer.Id==Model.customer.Id)

            {
                <form asp-page-handler="Delete" method="post" style="float:right;">
                    <input type="hidden" name="id" value="@tweet.Id"/>
                    <button class="btn btn-link">Delete</button>
                </form>
            }
        </div>
        <div class="card-footer">
            <i>Blev sendt d. @tweet.DateOfTweet.ToString()</i>
        </div>
        

    </div>
        }
    </div>
    <div class="col overflow-auto">
        @if (!Model.NotLoggedIn)
        {
            <h5>Dem du følger</h5>
            @foreach (Models.Tweet tweet in Model.TweetsPrivate.Values)
            {
                <div class="card">
                    <p class="card-header">@tweet.customer.Username</p>
                    <div class="card-body">
                        <h5 class="card-title">@tweet.customer.Name</h5>
                        <p class="card-text text-center">@tweet.Text</p>
                        @if (Model.customer != null)
                        {
                            @if (!tweet.Likes.Contains(Model.customer.Id))
                            {
                                <form asp-page-handler="Likes" method="post">
                                    <input type="hidden" name="id" value="@tweet.Id" />
                                    <button class="btn btn-primary">Like</button>
                                </form>
                            }
                        }
                        <p> @tweet.Likes.Count Synes godt om</p>

                    </div>
                    <div class="card-footer">
                        <i>Blev sendt d. @tweet.DateOfTweet.ToString()</i>
                    </div>
                </div>
            }
        }
        else
        {
            <h4 class="text-center">Du er ikke logget ind</h4> <br />
            <h5 class="text-center">Login her:</h5>
            <div class="text-center">
                <a class="btn btn-primary" type="button" asp-page="/Login/Log_in">Login</a>
            </div>
        }
    </div>
    <div class="col overflow-auto">
        @if (!Model.NotLoggedIn)
        {
            <h5>Skriv en Tweet</h5>
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label class="form-text">Text</label>
                    <input type="text" asp-for="@Model.Tweet.Text" class="form-control" />
                    <span asp-validation-for="@Model.Tweet.Text" class="text-danger"></span>
                </div>
                <label class="form-text">Synligheden for dit tweet</label>
                <input type="radio" asp-for="@Model.Tweet.tweetPublicity" value="@Models.TweetPublicity.Private" />Private <br />
                <input type="radio" asp-for="@Model.Tweet.tweetPublicity" value="@Models.TweetPublicity.Public" />Public <br />
                <div style="padding:1rem;"></div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success float-right" value="Send Tweet" style="padding:1rem;" />
                </div>
            </form>
                }

        </div>
</div>
